BasedOnStyle: LLVM


# Indentation and Tabs
UseTab: Never
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true

# Brace Style
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Comments
ReflowComments: true
AlignTrailingComments:
  Kind: Always # Always | Never | Leave
  # OverEmptyLines: 1 # align across this many empty lines

# Pointer and Reference Alignment
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# Spacing
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpacesInAngles: Never

# Alignment
AlignAfterOpenBracket: BlockIndent   # Prevents lo/hi from aligning to the '(' column
AlignOperands: Align

# Classes, Namespaces, and Templates
NamespaceIndentation: None
AlwaysBreakTemplateDeclarations: Yes
AccessModifierOffset: -4

# Others
BreakBinaryOperations: RespectPrecedence
AllowShortCompoundRequirementOnASingleLine: true
Cpp11BracedListStyle: true          # Formats braced initializers like blocks (newline after '{')
BinPackArguments: false
BinPackParameters: false

---
# Slang-specific options (slangd invokes clang-format using a .cs filename)
Language: CSharp
# Line Length
ColumnLimit: 80

---
# Cpp-specific options
Language: Cpp
Standard: Latest
# Line Length
ColumnLimit: 120
